<nav class="navbar navbar-expand-md bg-light navbar-dark ">
    
    <a class="navbar-brand" href="#"> <img src="../../assets/images/logo.png"> </a>
    <button class="navbar-toggler  ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link" id="text1" id="home"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="text1">Post A Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="text1">Job List</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" id="text1">Job Details</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" id="text1">Pages</a>
          </li>  
      </ul>
      <div class="navbar-right">
        <ul class="navbar-nav mt-2">
            <span class="glyphicon glyphicon-globe"></span>
          <li class="nav-item">
            <a class="nav-link mr-3" id="text1"> United Kingdom</a>
          </li>
          <li><i class="	glyphicon glyphicon-user"></i>
          <li class="nav-item">
            <a class="nav-link mr-3" id="text1">Register / SignIn</a>
          </li>
          <a href="#" id="bttn" class="btn btn-primary">Post Job</a>
        </ul>
       
     </div>
     
   </div>
</nav>
  <style>
      #text1{
          color: black;
      }
      #home{
          color: blue;
      }
      nav ul li a:hover {
  background:rgb(229, 232, 236);
  width:100px;
  height:40px;

}
.custom-toggler.navbar-toggler {
            border-color:black;
            color:black;
        }

#bttn{
    border-radius: 50px;
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color:rgb(20, 95, 208);
    margin-right:50px
}

.glyphicon{
    margin-top: 15px;
    color: blue;
}
.navbar{
    margin-bottom:0%;
}

  </style>